
# Python
.venv/
venv/
__pycache__/
*.pyc

# Models
*.gguf

# Local data
localai/data/
localai/cache/

# VS Code
.vscode/

# Windows
Thumbs.db


localai/logs/
*.log

.venv/
*.gguf
__pycache__/

frontend/node_modules/
mobile/node_modules/
node_modules/